In [1]:
import pandas as pd

### Read a csv file from link

In [3]:
ufo = pd.read_csv("http://bit.ly/uforeports")

### Show 5 rows of data with header.

In [18]:
ufo.head()

                   city colors_reported shape_reported state             time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [19]:
ufo.columns

Index(['city', 'colors_reported', 'shape_reported', 'state', 'time'], dtype='object')

### Rename attr of dataframe to rename columns with key old name and value new name
### and inplace attribute to make the changes in the dataframe.

In [6]:
ufo.rename(columns = {'Colors Reported': 'Colors_Reported', 'Shape Reported': 'Shape_Reported'}, inplace=True)

In [7]:
ufo.columns

Index(['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time'], dtype='object')

In [8]:
ufo_cols = ['city', 'colors reported', 'shape reported', 'state', 'time']

### Rename the columns in dataframe by assigning a list to columns attribute

In [20]:
ufo.columns = ufo_cols

In [21]:
ufo.columns

Index(['city', 'colors reported', 'shape reported', 'state', 'time'], dtype='object')

### Directly renaming the columns of a file in link with the names attribute and header attribute to specify the change from row 0.

In [22]:
ufo = pd.read_csv('http://bit.ly/uforeports', names=ufo_cols, header=0)

In [23]:
ufo.head()

                   city colors reported shape reported state             time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [24]:
ufo.columns

Index(['city', 'colors reported', 'shape reported', 'state', 'time'], dtype='object')

### Hint: Replace the character ' ' spaces with underscore '_' using str method's replace in columns attribute.

In [25]:
ufo.columns = ufo.columns.str.replace(' ', '_')

In [26]:
ufo.columns

Index(['city', 'colors_reported', 'shape_reported', 'state', 'time'], dtype='object')