In [1]:
import pandas as pd
dataframe1 = pd.DataFrame([1,2,3,4])
dataframe1

   0
0  1
1  2
2  3
3  4

In [15]:
d = {"Name": ["Sachin", "Saugat", "Suresh"], "age": [19, 25, 33]}
dataframe2 = pd.DataFrame(d, columns=["Name"], index=[1,2,3])
print(dataframe2["Name"][1])

Sachin

In [16]:
list_nums = [[1,2,3,4,5], [1,2,3,4,5]]
dataframe3 = pd.DataFrame(list_nums)
dataframe3

   0  1  2  3  4
0  1  2  3  4  5
1  1  2  3  4  5

In [22]:
series_dict = {"first_series": pd.Series([1,2,3,4,5]), "second_series": pd.Series([10,11,12,13,14])}
dataframe4 = pd.DataFrame(series_dict)
dataframe4

   first_series  second_series
0             1             10
1             2             11
2             3             12
3             4             13
4             5             14